body {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(232, 218, 189);
}

#h {
    font-size: 100px;

    position: absolute;
    top: -20px;
    left: 310px;
    font-family: fantasy;
    word-spacing: 50px;
    letter-spacing: 10px;

}

#logoInicio {
    height: 150px;
}

h2 {
    color: #e5bd68;
    font-size: 35px;
    font-family: fantasy;
    word-spacing: 10px;
    letter-spacing: 5px;
}

h3 {
    color: #d8c99e;
    font-family: fantasy;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 25px;
}

#menu {
    li {
        a {

            font-weight: bold;
            color: darkgoldenrod;
            text-decoration: none;
            font-size: 25px;

        }

        padding: 5px;
        display: inline;

    }
}

.gal {
    height: 275px;
    padding-right: 15px;
    padding-bottom: 15px;
}

section {
    background-color: #414b3f;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 2.5px;
}

.text {
    font-size: 21px;
}

section p {
    color: #f1ecdf;
}